DISCORD_BOT_TOKEN=replace-with-discord-bot-token
OWKR_CONFIG_PATH=config/config.yaml
OWKR_DATABASE_PATH=data/owkr-gather-bot.sqlite3
OWKR_TEMPLATE_PATH=templates/recruitment.txt
OWKR_RECRUITMENT_COMPLETE_TEMPLATE_PATH=templates/recruitment_complete.txt
OWKR_LOG_LEVEL=INFO
